.logintitle{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    color: white;
}
fieldset{
    width: 1000px;
    margin-left: 200px;
    text-align: left;
    border-radius: 10px;
    padding: 40px;
}
legend{
    text-align: center;
    font-size: 30px;
    color: rgb(197, 106, 32);
}
label{
    font-size: 25px;
}

input{
    font-size: 20px;
    background-color: rgb(202, 245, 116);
    height: 25px;
}
body{
    background-image: url('login/images/bg.jpg');
}
.field_set{
    border-color:#F00;
   }